/**
 * Lavel-up | Responsive coming soon template
 * By WPBean
 */



body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-size: 14px;
	line-height: 1.6;
}
h1,
h2,
h3 {
	font-family: 'loveloblack';
}
a:focus,
input[type="submit"]:focus,
button:focus,
a:active,
input[type="submit"]:active,
button:active{
	outline: 0!important;
	box-shadow: inherit!important;
}

/* ==========================================================================
   Header style
   ========================================================================== */

.lavel-up-header{
	color: #fff;
}
.lavel-up-header-bg-img{
	background-color: #FFF;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
 }

@media (min-width: 991px) {
	.lu-title{
		font-size: 60px;
		margin-bottom: 50px;
	}
}
@media (max-width: 990px) {
	.lu-title{
		font-size: 40px;
		margin-bottom: 50px;
	}
}
@media (max-width: 500px) {
	.lu-title{
		font-size: 36px;
		margin-bottom: 50px;
	}
	.lu-new-feature h3{
		font-size: 20px;
	}

}


/* Countdown Style */

.lu-countdown {

}
.lu-countdown .lu-square{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 30px 0;
	border: 1px solid #fff;
	background-color: rgba( 255,255,255,0.4 );
}
@media (max-width: 990px) {
	.lu-countdown .lu-square{
		margin-bottom: 30px;
	}
}
.lu-countdown .lu-square span:first-child{
	font-family: 'loveloblack';
	font-size: 50px;
	display: block;
}
.lu-countdown .lu-square span:last-child {
	font-size: 15px;
	text-transform: uppercase;
}
@media (max-width: 500px) {
	.lu-countdown .lu-square{
		width: 120px;
		height: 120px;
		padding: 25px 0;
	}
	.lu-countdown .lu-square span:first-child{
		font-size: 36px;
	}
}

/* Newsletter style */

@media (min-width: 991px) {
	.lu-newletter{
		margin-top: 85px;
	}
	.lu-newletter h2 {
		margin-bottom: 20px;
		font-size: 22px;
	}
}
@media (max-width: 990px) {
	.lu-newletter{
		margin-top: 45px;
	}
	.lu-newletter h2 {
		margin-bottom: 20px;
		font-size: 22px;
	}
}
.lu-newletter input[type="email"],
.lu-newletter input[type="text"]{
	border-radius: 0;
	background-color: rgba( 255,255,255,0.9 );
}

.lu-newletter input[type="submit"],
.lu-newletter button{
	border-radius: 0!important;
	font-family: 'loveloblack';
	line-height: 30px!important;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba( 255,255,255,0.2 ), 0 0 8px rgba( 255,255,255,0.4 );
  box-shadow: inset 0 1px 1px rgba( 255,255,255,0.2 ), 0 0 8px rgba( 255,255,255,0.4 );
}

/* Social networks */

.lu-social-networks{
	margin-top: 40px;
	margin-bottom: 70px;
}
.lu-social-networks a {
	display: inline-block;
	background: rgba(255,255,255,.55);
	border: 1px solid #fff;
	width: 55px;
	height: 55px;
	color: #fff;
	margin: 0 2px;
}
@media (max-width: 990px) {
	.lu-social-networks a {
		margin-bottom: 8px;
	}
}
.lu-social-networks a i{
	font-size: 24px;
	line-height: 55px;
}


/* ==========================================================================
   What's new section
   ========================================================================== */

.lu-what-new{
	padding: 75px 0;
}
.lu-section-title {
  margin-bottom: 50px;
  font-size: 36px;
}
@media (min-width: 991px) {
	.lu-section-title {
	  font-size: 45px;
	}
}
.lu-new-feature {
  border: 2px solid #eee;
  padding: 30px;
  margin-bottom: 30px;
}
.lu-new-feature-icon i{
	font-size: 40px;
}


/* ==========================================================================
   Contact section
   ========================================================================== */

.lu-contact{
	background: url('../img/foto-2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: #fff;
	height: 100vh;
}
	.info-mobile{
		padding: 0px;
		display: none;
	}
@media (min-width: 991px) {
	.lu-contact{
		background: url('../img/foto-2.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		color: #fff;
	}
}
@media (max-width: 990px) {
	.lu-contact{
		background: url('../img/foto-2.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		color: #fff;
	}
}
@media (max-width: 500px) {
	.lu-contact{
		background: url('../img/foto-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		color: #fff;
	}
}

.lu-overlay {
  background: rgba(0, 0, 0, 0.55);
  padding: 75px 0;
}

/* Contact form */
.lu-contact-form input[type="text"], 
.lu-contact-form input[type="email"], 
.lu-contact-form textarea {
  background: rgba( 255,255,255,0.9 );
  border-radius: 0;
}
.lu-contact-form input[type="text"], 
.lu-contact-form input[type="email"] {
  padding: 10px 12px;
  height: 46px;
  font-size: 16px;
}
.lu-contact-form textarea {
	min-height: 168px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.lu-footer {
  padding: 25px 0;
}
.blick{
	width: 180px;
	height: auto;
}
.no-resizeable{
	resize: none;
}
.blick-icons{
	font-size: 40px;
}
.no-margin-row{
	margin-right: 0;
}
.navigation-left{
	padding-left: 60px;
	padding-top: 30px;
}
.twenty{
	font-size: 20px;
}
.twenty-two{
	font-size: 22px;
}
.nineteen{
	font-size: 19px;
}
.eighteen{
	font-size: 18px;
}
.sixteen{
	font-size: 16px;
}
.thirty-one{
	font-size: 31px;
}
.border-left{
	border-left: solid 2px #3d6fb6;
}
.border-left-services{
	border-left: solid 2px #3d6fb6;
}
.services-header{
		margin-top: 80px;
		margin-bottom: 10px;
}
.right-header{
	padding-left: 30px;
	padding-top: 20px;
}
.grey{
	color: #3b474e;
}
.white{
	color: #FFF;
}
.nav-padding{
	padding-left: 25px;
}
.mail-padd{
	margin-top: 5px;
}
.blick-right{
	margin-bottom: 0;
}
.coma-blick-header{
	width: 20px;
	height: auto;
	margin-left: -20px;
	margin-top: -5px;
}
.coma-blick-footer{
	width: 20px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
}
.inline{
	display: inline-block;
}
.info-box{
	padding-left: 50px;
	padding-right: 130px; 
}
.aerial{
 	opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.beltrami{
 	opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.amparo{
 	opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.sentirmebien{
 	opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.javier{
 	opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.emma{
	 opacity: 0;
 	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-1:hover .aerial{
	opacity: 1
}
.project-2:hover .sentirmebien{
	opacity: 1
}
.project-3:hover .javier{
	opacity: 1
}
.project-4:hover .emma{
	opacity: 1
}
.project-5:hover .beltrami{
	opacity: 1
}
.project-6:hover .amparo{
	opacity: 1
}
.project-1{
	background: url('../img/portfolio/Foto-1.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-1:hover{
	background: url('../img/portfolio/Foto-1-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-2{
		background: url('../img/portfolio/Foto-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-2:hover{
		background: url('../img/portfolio/Foto-2-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-3{
		background: url('../img/portfolio/Foto-3.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-3:hover{
		background: url('../img/portfolio/Foto-3-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-4{
		background: url('../img/portfolio/Foto-4.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-4:hover{
		background: url('../img/portfolio/Foto-4-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-5{
		background: url('../img/portfolio/Foto-5.jpg') no-repeat center center;;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-5:hover{
		background: url('../img/portfolio/Foto-5-2.jpg') no-repeat center center;;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-6{
		background: url('../img/portfolio/Foto-6.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.project-6:hover{
		background: url('../img/portfolio/Fotos-6-2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
			-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.logo-project-1{
	width: 175px;
	height: auto;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 20px;

}
.logo-project-2{
	width: 270px;
	height: auto;
	margin: auto;
	padding-top: 20px;

}
.logo-project-3{
	width: 106px;
	height: auto;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 10px;

}
.logo-project-4{
	width: 240px;
	height: auto;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 10px;

}
.logo-project-5{
	width: 145px;
	height: auto;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;

}
.logo-project-6{
	width: 140px;
	height: auto;
	margin: auto;
	margin-bottom: 30px;
	padding-top: 20px;

}
@media (min-width: 992px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}
.overlay-description{
	background-color: rgba(255,255,255,0.6);
	margin: 110px 80px;
	height: 185px;
}
.list-inline{
	margin:auto;
}
.right-border{
	border-right: solid 2px #3b474e;
}
.social-list{
	margin-bottom: 10px;
}
.no-margin-h3{
	margin: 0;
}
.no-margin-top{
	margin-top: 0px;
}
.services-box{
	padding-left: 20px;
	padding-right: 120px;
}
.services-box-title{
	padding-left: 0px;
	padding-right: 120px;
}
.services-box-two{
	padding-left: 20px;
	padding-right: 120px;
	padding-top: 25px;
}
.padding-bottom{
	padding-bottom: 50px;
}
.fade.in{
	background-color: rgba(0,0,0, 0.70) !important;
}
a:hover, a:focus{
	text-decoration: none;
}
.modal-content{
	background:transparent;
}
.logo-modal{
	width: 200px;
	height: auto;
}
.modal-header{
	border-bottom: none;
}
.modal-content{
	box-shadow: none;
	border: none;
}
.inputs-style{
	font-size: 16px !important;
	background-color: #bdbdbd !important;
	color: #3b474e !important;
	margin-top: 5px;
	margin-bottom: 5px;
}
.inputs-style::-webkit-input-placeholder {
	color: #3b474e !important;
}
.inputs-style::-moz-placeholder {
	color: #3b474e !important;
}
.inputs-style:-ms-input-placeholder {
	color: #3b474e !important;
}
.btn-blick{
	background-color: #3d6fb6;
	padding: 5px 25px;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
}
.btn-default:hover{
	background-color: #3d6fb6;
	padding: 5px 25px;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	color: #FFF !important;
}
.btn-default:focus{
	background-color: #3d6fb6 !important;
	padding: 5px 25px !important;
	border: none !important;
	border-radius: 2px !important;
	margin-top: 10px !important;
	color: #FFF !important;
}
.btn-default:active{
	background-color: #3d6fb6 !important;
	padding: 5px 25px !important;
	border: none !important;
	border-radius: 2px !important;
	margin-top: 10px !important;
	color: #FFF !important;
}
.close-img{
	font-size: 60px;
	font-weight: 700;
}
.close{
	margin-right: -150px;
}
@media (max-width: 680px) {
	.navigation-left{
		padding-left: 15px;
		padding-top: 30px;
		text-align: center;
	}
	.project-1:hover .aerial{
	opacity: 0;
}
.project-2:hover .sentirmebien{
	opacity: 0;
}
.project-3:hover .javier{
	opacity: 0;
}
.project-4:hover .emma{
	opacity: 0;
}
.project-5:hover .beltrami{
	opacity: 0;
}
.project-6:hover .amparo{
	opacity: 0;
}
	.nav-padding{
		padding-left: 0px;
	}
	.overlay-description{
		margin-top: 0px;
		margin-bottom: 0px;
		opacity: 0;
	}
	.no-margin-row{
		margin-left: 0px;
	}
	.services-box-title{
		padding-left: 22px;
		padding-bottom: 20px;
	}
	.overlay-description-mobile{
		background-color: rgba(240,240,240,1);
		margin: 0px 0px;
		height: 165px;
		opacity: 1;
	}
	.info-mobile{
		padding: 0px;
		display: block;
	}
	.logo-project-1{
		width: 100px;
	}
	.logo-project-2{
		width: 150px;
	}
	.logo-project-3{
		width: 60px;
	}
	.logo-project-4{
		width: 130px;
	}
	.logo-project-5{
		width: 100px;
	}
	.logo-project-6{
		width: 70px;
	}

	.social-list{
		font-size: 15px !important;
	}
	.close{
		margin-right: 0px;
	}
	.close-img{
		font-size: 20px;
	}
	.modal-content{
		height: 100%;
		overflow-y: scroll;
	}
}